:root {
  --angle: 2.5deg;
}
.word-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100vw;
  min-height: 100vh;
}
.word {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Montserrat', sans-serif;
  font-size: 11.74vh;
  font-weight: 900;
  color: var(--color, #fff);
  display: flex;
  pointer-events: none;
  user-select: none;
  line-height: 5.32vh;
}
.word .char {
  position: relative;
  -webkit-text-stroke: 0.15vh #000;
  transform: translateY(-45%) rotate(var(--angle));
  animation: up-and-down 2s ease infinite;
  animation-delay: calc((var(--word-index) * -0.15s) + (var(--char-index) * 0.1s));
  z-index: calc(-1 * var(--char-index));
  margin-left: -0.15vh;
}
@keyframes up-and-down {
  0%, 100% {
    transform: translateY(-45%) rotate(var(--angle));
  }
  50% {
    transform: translateY(45%) rotate(var(--angle));
  }
}